USE [master]
GO
/****** Object:  Database [JSDatabase]    Script Date: 1/16/2026 1:16:52 PM ******/
CREATE DATABASE [JSDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JSDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JSDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JSDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JSDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JSDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JSDatabase]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/16/2026 1:16:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](100) NOT NULL,
	[Category_Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Customer_Type] [nvarchar](50) NULL,
	[Contact_Number] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exchange]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchange](
	[ExchangeID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Employee_ID] [int] NOT NULL,
	[Exchange_Date] [datetime] NULL,
	[Exchange_Type] [nvarchar](50) NULL,
	[Total_No_Of_Items] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExchangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exchanged_Items]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchanged_Items](
	[ExchangedItemID] [int] IDENTITY(1,1) NOT NULL,
	[Exchange_ID] [int] NOT NULL,
	[Item_ID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtTime] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExchangedItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Item_Name] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Item_Quantity] [int] NOT NULL,
	[Item_Weight] [decimal](10, 2) NULL,
	[Buying_Price] [decimal](10, 2) NOT NULL,
	[Selling_Price] [decimal](10, 2) NOT NULL,
	[Previous_Update] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Audit_Log]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Audit_Log](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[Employee_ID] [int] NOT NULL,
	[AffectedItem_ID] [int] NOT NULL,
	[Audit_Date] [datetime] NULL,
	[ActionMade] [nvarchar](50) NOT NULL,
	[OldValue] [nvarchar](255) NULL,
	[NewValue] [nvarchar](255) NULL,
	[Reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Management]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Management](
	[ManagementID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Position] [nvarchar](50) NULL,
	[Contact_Number] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exchange] ADD  DEFAULT (getdate()) FOR [Exchange_Date]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [Previous_Update]
GO
ALTER TABLE [dbo].[Inventory_Audit_Log] ADD  DEFAULT (getdate()) FOR [Audit_Date]
GO
ALTER TABLE [dbo].[Exchange]  WITH CHECK ADD  CONSTRAINT [FK_Exchange_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Exchange] CHECK CONSTRAINT [FK_Exchange_Customer]
GO
ALTER TABLE [dbo].[Exchange]  WITH CHECK ADD  CONSTRAINT [FK_Exchange_Employee] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Management] ([ManagementID])
GO
ALTER TABLE [dbo].[Exchange] CHECK CONSTRAINT [FK_Exchange_Employee]
GO
ALTER TABLE [dbo].[Exchanged_Items]  WITH CHECK ADD  CONSTRAINT [FK_ExchangedItems_Exchange] FOREIGN KEY([Exchange_ID])
REFERENCES [dbo].[Exchange] ([ExchangeID])
GO
ALTER TABLE [dbo].[Exchanged_Items] CHECK CONSTRAINT [FK_ExchangedItems_Exchange]
GO
ALTER TABLE [dbo].[Exchanged_Items]  WITH CHECK ADD  CONSTRAINT [FK_ExchangedItems_Inventory] FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Inventory] ([ItemID])
GO
ALTER TABLE [dbo].[Exchanged_Items] CHECK CONSTRAINT [FK_ExchangedItems_Inventory]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Category]
GO
ALTER TABLE [dbo].[Inventory_Audit_Log]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Employee] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Management] ([ManagementID])
GO
ALTER TABLE [dbo].[Inventory_Audit_Log] CHECK CONSTRAINT [FK_AuditLog_Employee]
GO
ALTER TABLE [dbo].[Inventory_Audit_Log]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Inventory] FOREIGN KEY([AffectedItem_ID])
REFERENCES [dbo].[Inventory] ([ItemID])
GO
ALTER TABLE [dbo].[Inventory_Audit_Log] CHECK CONSTRAINT [FK_AuditLog_Inventory]
GO
ALTER TABLE [dbo].[Exchange]  WITH CHECK ADD CHECK  (([Total_No_Of_Items]>=(0)))
GO
ALTER TABLE [dbo].[Exchanged_Items]  WITH CHECK ADD CHECK  (([PriceAtTime]>=(0)))
GO
ALTER TABLE [dbo].[Exchanged_Items]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD CHECK  (([Buying_Price]>=(0)))
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD CHECK  (([Item_Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD CHECK  (([Selling_Price]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddExchangeItem]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddExchangeItem]
	@ExchangeID INT,
	@ItemID INT,
	@Quantity INT,
	@Price DECIMAL(10,2)

AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @CurrentStock INT;
	DECLARE @ExchangeType NVARCHAR(50);

	BEGIN TRY
		BEGIN TRANSACTION;

		-- Get current stock and exchange type
		SELECT @CurrentStock = Item_Quantity FROM Inventory WHERE ItemID = @ItemID;
		SELECT @ExchangeType = Exchange_Type FROM Exchange WHERE ExchangeID = @ExchangeID;

		IF @CurrentStock IS NULL
			THROW 50008, 'Item does not exist.', 1;

		-- For dispatching (selling), check stock availability
		IF @ExchangeType = 'Sale' AND @Quantity > @CurrentStock
			THROW 50009, 'Insufficient inventory stock.', 1;

		-- For receiving (purchasing), we add to stock
		-- For dispatching (selling), we subtract from stock
		UPDATE Inventory
		SET Item_Quantity = Item_Quantity + CASE
			WHEN @ExchangeType = 'Purchase' THEN @Quantity
			WHEN @ExchangeType = 'Sale' THEN -@Quantity
			ELSE 0
		END
		WHERE ItemID = @ItemID;

		INSERT INTO Exchanged_Items (
			Exchange_ID,
			Item_ID,
			Quantity,
			PriceAtTime
		)
		VALUES (
			@ExchangeID,
			@ItemID,
			@Quantity,
			@Price
		);

		UPDATE Exchange
		SET Total_No_Of_Items = Total_No_Of_Items + @Quantity
		WHERE ExchangeID = @ExchangeID;

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		THROW;
		END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddInventoryItem]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddInventoryItem]
	@Item_Name NVARCHAR(100),
	@CategoryID INT,
	@Item_Quantity INT,
	@Item_Weight DECIMAL(10,2),
	@Buying_Price DECIMAL(10,2),
	@Selling_Price DECIMAL(10,2)

AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

		IF @Item_Quantity < 0
			THROW 50001, 'Item quantity cannot be negative.', 1;

		IF @Buying_Price < 0 OR @Selling_Price < 0
			THROW 50002, 'Prices quantity cannot be negative.', 1;

		INSERT INTO Inventory (
			Item_Name,
			CategoryID,
			Item_Quantity,
			Item_Weight,
			Buying_Price,
			Selling_Price
		)

		VALUES (
			@Item_Name,
			@CategoryID,
			@Item_Quantity,
			@Item_Weight,
			@Buying_Price,
			@Selling_Price
		);
		
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		THROW;
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelExchange]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CancelExchange]
    @ExchangeID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- If exchange is completed, you cant cancel it 
        IF EXISTS (
            SELECT 1
            FROM Exchange
            WHERE ExchangeID = @ExchangeID
              AND Exchange_Type LIKE '%COMPLETED%'
        )
        BEGIN
            THROW 50010, 'Completed exchanges cannot be canceled.', 1;
        END

        -- Restore inventory quantities
        UPDATE i
        SET i.Item_Quantity = i.Item_Quantity + ei.Quantity
        FROM Inventory i
        JOIN Exchanged_Items ei
            ON i.ItemID = ei.Item_ID
        WHERE ei.Exchange_ID = @ExchangeID;

        -- Remove exchange items
        DELETE FROM Exchanged_Items
        WHERE Exchange_ID = @ExchangeID;

        -- Mark exchange as canceled
        UPDATE Exchange
        SET Exchange_Type = 'CANCELED',
            Total_No_Of_Items = 0
        WHERE ExchangeID = @ExchangeID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CompleteExchange]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CompleteExchange]
	@ExchangeID INT,
	@ItemID INT, 
	@Quantity INT

AS
BEGIN
	SET NOCOUNT ON;

	IF NOT EXISTS (
		SELECT 1 FROM Exchanged_Items
		WHERE Exchange_ID = @ExchangeID
	)
	THROW 50004, 'Cannot finalize an empty exchange.', 1;

	UPDATE Exchange
	SET Exchange_Type = Exchange_Type + ' - COMPLETED'
	WHERE ExchangeID = @ExchangeID;
	
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateExchange]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateExchange]
	@CustomerID INT,
	@EmployeeID INT,
	@ExchangeType NVARCHAR(50)

AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

		INSERT INTO Exchange (
			Customer_ID,
			Employee_ID,
			Exchange_Type,
			Total_No_Of_Items
		)

		VALUES (
			@CustomerID,
			@EmployeeID,
			@ExchangeType,
			0
		);

		DECLARE @NewExchangeID INT = SCOPE_IDENTITY();

		COMMIT TRANSACTION;

		SELECT @NewExchangeID as ExchangeID;

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		THROW;
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteInventoryItem]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteInventoryItem]
	@ItemID INT

AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

		IF NOT EXISTS (SELECT 1 FROM Inventory WHERE ItemID = @ItemID)
			THROW 50003, 'Inventory item does not exist.', 1;

		DELETE FROM Inventory
		WHERE ItemID = @ItemID;

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		THROW;
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllExchanges]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllExchanges]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        e.ExchangeID,
        e.Exchange_Date,
        e.Exchange_Type,
        e.Total_No_Of_Items,
        c.CustomerID,
        c.Name AS CustomerName,
        m.ManagementID AS EmployeeID,
        m.FirstName AS EmployeeName
    
    FROM Exchange e
    JOIN Customer c
        ON e.Customer_ID = c.CustomerID
    JOIN Management m
        ON e.Employee_ID = m.ManagementID
    
    ORDER BY e.Exchange_Date DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategories]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCategories]
AS
BEGIN
    SELECT CategoryID, Category_Name FROM Category;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExchangebyID]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetExchangebyID]
	@ExchangeID INT

AS
BEGIN
	SET NOCOUNT ON;

	--Header
	SELECT
		e.ExchangeID,
		e.Exchange_Date,
		e.Exchange_Type,
		e.Total_No_Of_Items,
		c.Name AS CustomerName,
		m.FirstName AS EmployeeName
	FROM Exchange e
	JOIN Customer c ON e.Customer_ID = c.CustomerID
	JOIN Management m ON e.Employee_ID = m.ManagementID
	WHERE e.ExchangeID = @ExchangeID;

	SELECT
		ei.ExchangedItemID,
		i.Item_Name,
		ei.Quantity,
		ei.PriceAtTime,
		(ei.Quantity * ei.PriceAtTime) as LineTotal
	FROM Exchanged_Items ei
	JOIN Inventory i ON ei.Item_ID = i.ItemID
	WHERE ei.Exchange_ID = @ExchangeID;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInventory]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetInventory]

AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		i.ItemId,
		i.Item_Name,
		i.CategoryID,
		c.Category_Name,
		i.Item_Quantity,
		i.Item_Weight,
		i.Buying_Price,
		i.Selling_Price
	FROM Inventory i
	LEFT JOIN Categories c on i.CategoryID = c.CategoryID;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInventoryByID]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetInventoryByID]
	@ItemID INT

AS
BEGIN
	SET NOCOUNT ON;

	IF NOT EXISTS (SELECT 1 FROM Inventory WHERE ItemID = @ItemID)
		THROW 50006, 'Inventory item not found.', 1;

	SELECT *
	FROM Inventory
	WHERE ItemID = @ItemID;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInventoryStats]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetInventoryStats]
AS
BEGIN
    SELECT
        SUM(Item_Quantity) AS TotalItems,
        SUM(Item_Weight) AS TotalWeight,
        SUM(Item_Quantity * Selling_Price) AS TotalValue
    FROM Inventory;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LogExchangeAudit]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LogExchangeAudit]
    @EmployeeID INT,
    @AffectedItemID INT,
    @ActionMade NVARCHAR(100),
    @OldValue NVARCHAR(255),
    @NewValue NVARCHAR(255),
    @Reason NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.INVENTORY_AUDIT_LOG (
        Employee_ID,
        AffectedItem_ID,
        Audit_Date,
        ActionMade,
        OldValue,
        NewValue,
        Reason
    )
    VALUES (
        @EmployeeID,
        @AffectedItemID,
        GETDATE(),
        @ActionMade,
        @OldValue,
        @NewValue,
        @Reason
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveExchangeItem]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveExchangeItem]
	@ExchangedItemID INT

AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @ItemID INT, @Quantity INT, @ExchangeID INT;

	BEGIN TRY
		BEGIN TRANSACTION;

		SELECT
			@ItemID = Item_ID,
			@Quantity = Quantity,
			@ExchangeID = Exchange_ID
		FROM Exchanged_Items
		WHERE ExchangedItemID = @ExchangedItemID;

		IF @ItemID IS NULL
			THROW 50007, 'Exchange item not found.', 1;

		UPDATE Inventory
		SET Item_Quantity = Item_Quantity + @Quantity
		WHERE ItemID = @ItemID;

		DELETE FROM Exchanged_Items
		WHERE ExchangedItemID = @ExchangedItemID;

		UPDATE Exchange
		SET Total_No_Of_Items = Total_No_Of_Items - @Quantity
		WHERE ExchangeID = @ExchangeID;

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		THROW;
		END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchInventoryItems]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchInventoryItems]
(
    @SearchTerm NVARCHAR(100) = NULL,
    @CategoryID INT = NULL,
    @MinPrice DECIMAL(10,2) = NULL,
    @MaxPrice DECIMAL(10,2) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        i.ItemID,
        i.Item_Name,
        c.Category_Name,
        i.Item_Quantity,
        i.Item_Weight,
        i.Buying_Price,
        i.Selling_Price,
        i.Previous_Update
    FROM Inventory i
    INNER JOIN Categories c
        ON i.CategoryID = c.CategoryID
    WHERE
        (@SearchTerm IS NULL 
            OR i.Item_Name LIKE '%' + @SearchTerm + '%')
        AND (@CategoryID IS NULL 
            OR i.CategoryID = @CategoryID)
        AND (@MinPrice IS NULL 
            OR i.Selling_Price >= @MinPrice)
        AND (@MaxPrice IS NULL 
            OR i.Selling_Price <= @MaxPrice)
    ORDER BY i.Item_Name;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateInventoryItem]    Script Date: 1/16/2026 1:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateInventoryItem]
	@ItemID INT,
	@Item_Name NVARCHAR(100),
	@CategoryID INT,
	@Item_Quantity INT,
	@Item_Weight DECIMAL(10,2),
	@Buying_Price DECIMAL(10,2),
	@Selling_Price DECIMAL(10,2)

AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

		IF NOT EXISTS (SELECT 1 FROM Inventory WHERE ItemID = @ItemID)
			THROW 50003, 'Inventory item not found.', 1;

		IF @Item_Quantity < 0
			THROW 50004, 'Item quantity cannot be negative.', 1;

		UPDATE Inventory
		SET	Item_Name = @Item_Name,
			CategoryID = @CategoryID,
			Item_Quantity = @Item_Quantity,
			Item_Weight = @Item_Weight,
			Buying_Price = @Buying_Price,
			Selling_Price = @Selling_Price
		WHERE ItemID = @ItemID;
		
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		THROW;
	END CATCH
END;
GO
USE [master]
GO

-- Add this table to JSDatabase for password reset functionality
USE [JSDatabase]
GO

IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='PasswordResetTokens' AND xtype='U')
BEGIN
CREATE TABLE [dbo].[PasswordResetTokens](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Token] [nvarchar](10) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[Used] [bit] NOT NULL DEFAULT 0,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO

-- Stored Procedures for Password Reset Functionality
USE [JSDatabase]
GO

-- SP to check if email exists in Management table
CREATE PROCEDURE [dbo].[sp_CheckUserEmail]
    @Email NVARCHAR(100),
    @Exists BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Management WHERE Email = @Email)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;
END
GO

-- SP to insert password reset token
CREATE PROCEDURE [dbo].[sp_InsertPasswordResetToken]
    @Email NVARCHAR(100),
    @Token NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO PasswordResetTokens (Email, Token, ExpiresAt)
    VALUES (@Email, @Token, DATEADD(MINUTE, 5, GETDATE()));
END
GO

-- SP to validate OTP and get token ID
CREATE PROCEDURE [dbo].[sp_ValidateOTP]
    @Email NVARCHAR(100),
    @Token NVARCHAR(10),
    @TokenID INT OUTPUT,
    @IsValid BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT @TokenID = TokenID
    FROM PasswordResetTokens
    WHERE Email = @Email AND Token = @Token AND ExpiresAt > GETDATE() AND Used = 0;

    IF @@ROWCOUNT > 0
        SET @IsValid = 1;
    ELSE
        SET @IsValid = 0;
END
GO

-- SP to update user password
CREATE PROCEDURE [dbo].[sp_UpdateUserPassword]
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Management
    SET PasswordHash = @PasswordHash
    WHERE Email = @Email;
END
GO

-- SP to mark token as used
CREATE PROCEDURE [dbo].[sp_MarkTokenUsed]
    @TokenID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE PasswordResetTokens
    SET Used = 1
    WHERE TokenID = @TokenID;
END
GO

-- SP to add a new customer
CREATE PROCEDURE [dbo].[sp_AddCustomer]
    @Name NVARCHAR(100),
    @CustomerType NVARCHAR(50) = NULL,
    @ContactNumber NVARCHAR(20) = NULL,
    @Address NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Customer (Name, Customer_Type, Contact_Number, Address)
    VALUES (@Name, @CustomerType, @ContactNumber, @Address);
END
GO


